@import '../../../../assets/styles/theme';

.titlebar-menu {
  position: relative;
  padding: 5px 8px;
  text-align: center;

  &:hover {
    color: #ffffff;
    background-color: $accent;
  }
}

.titlebar-menu-title {
  &::first-letter {
    text-decoration: underline;
  }
}

.titlebar-menu-options {
  position: absolute;
  width: auto;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 4px;
  background-color: #ececec;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0 0 0 1px,
    rgb(209, 213, 219) 0 0 0 1px inset;
}

@media (prefers-color-scheme: dark) {
  .titlebar-menu-options {
    background-color: #1a1a1a;
  }
}

.titlebar-menu-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  text-wrap: nowrap;

  padding: 4px 6px;
  cursor: pointer;
  user-select: none;
  margin: 1px;
  color: #0f0f0f;

  &:hover {
    color: #ffffff;
    background-color: $accent;
  }
}

@media (prefers-color-scheme: dark) {
  .titlebar-menu-option {
    color: #ffffff;
  }
}
