<luna-titlebar></luna-titlebar>

<div class="wrapper">
  <div class="code-area">
    <luna-sidenav></luna-sidenav>
    <luna-editor-tabs>
      @for (file of fileService.opened(); track file.id) {
        <luna-editor-tab [tabTitle]="file.name" [fileId]="file.id">
          <ngx-codemirror
            [(ngModel)]="file.text"
            (cursorActivity)="onCodeChange($event)"
            [options]="{
              autoFocus: true,
              lineNumbers: true,
              preserveScrollPosition: true,
              lineWrapping: true,
              tabSize: 4,
              indentWithTabs: true,
              theme: 'base16-light',
              mode: 'javascript',
            }"
          ></ngx-codemirror>
        </luna-editor-tab>
      }
    </luna-editor-tabs>
  </div>
  <luna-statusbar [data]="cursorData()"></luna-statusbar>
</div>
