span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

mat-icon {
  width: 30px;
}

.spacer {
  flex: auto 1 1;
}

.close {
  color: rgb(var(--color-base-30));
}
